PyYAML==3.12
argparse==1.2.1
catkin-pkg==0.4.12
catkin-tools==0.4.4
chardet==2.3.0
colorama==0.2.5
docutils==0.13.1
empy==3.3.2
futures==3.1.1
html5lib==0.999
nose==1.3.7
osrf-pycommon==0.1.3
python-dateutil==2.6.0
requests==2.2.1
rosdistro==0.6.2
rosinstall-generator==0.1.13
rospkg==1.1.1
six==1.10.0
trollius==2.1
urllib3==1.24.2
vcstools==0.1.39
wsgiref==0.1.2
wstool==0.1.13
